@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
	font-family: 'NunitoSans', sans-serif;
	src: url("../fonts/NunitoSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'NunitoSans', sans-serif;
	src: url("../fonts/NunitoSans-Regular.woff") format("woff");
}

@font-face {
	font-family: 'NunitoSans', sans-serif;
	src: url("../fonts/NunitoSans-Bold.woff2") format("woff2");
}

@font-face {
	font-family: 'NunitoSans', sans-serif;
	src: url("../fonts/NunitoSans-Bold.woff") format("woff");
}

@font-face {
	font-family: 'WorkSans', sans-serif;
	src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'WorkSans', sans-serif;
	src: url("../fonts/WorkSans-Regular.woff") format("woff");
}