@font-face {
	font-family: 'A_BighausTitulBrk-ExtraBold';
	src: url("../fonts/A_BighausTitulBrk-ExtraBold.woff2") format("woff2");
}

@font-face {
	font-family: 'A_BighausTitulBrk-ExtraBold';
	src: url("../fonts/A_BighausTitulBrk-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: 'A1010-Helvetika-Normal';
	src: url("../fonts/a1010helvetika_normal.woff2") format("woff2");
}

@font-face {
	font-family: 'A1010-Helvetika-Normal';
	src: url("../fonts/A1010Helvetika-Normal.woff") format("woff");
}

@font-face {
	font-family: 'A-BodoniNovaNrItalic-Regular';
	src: url("../fonts/A-BodoniNovaNrItalic-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'A-BodoniNovaNrItalic-Regular';
	src: url("../fonts/A-BodoniNovaNrItalic-Regular.woff") format("woff");
}

@font-face {
	font-family: 'A-CooperBlackNr-Regular';
	src: url("../fonts/A-CooperBlackNr-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'A-CooperBlackNr-Regular';
	src: url("../fonts/A-CooperBlackNr-Regular.woff") format("woff");
}

@font-face {
	font-family: 'AGAalenBold_Roman';
	src: url("../fonts/AalenBold.woff2") format("woff2");
}

@font-face {
	font-family: 'AGAalenBold_Roman';
	src: url("../fonts/AGAalenBold-Roman.woff") format("woff");
}

@font-face {
	font-family: 'AGBenguiatCyrBook';
	src: url("../fonts/Benguiat Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'AGBenguiatCyrBook';
	src: url("../fonts/Benguiat.woff") format("woff");
}

@font-face {
	font-family: 'AG-ForeignerRomanMedium-Regular';
	src: url("../fonts/AGFOR26.woff2") format("woff2");
}

@font-face {
	font-family: 'AG-ForeignerRomanMedium-Regular', sans-serif;
	src: url("../fonts/AGForeignerRomanMedium.woff") format("woff");
}

@font-face {
	font-family: 'AG-LettericaBold-Regular';
	src: url("../fonts/AG-LettericaBold-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'AG-LettericaBold-Regular';
	src: url("../fonts/AG-LettericaBold-Regular.woff") format("woff");
}

@font-face {
	font-family: 'AG-Souvenir-Regular';
	src: url("../fonts/AGSOUC.woff2") format("woff2");
}

@font-face {
	font-family: 'AG-Souvenir-Regular';
	src: url("../fonts/AGSouvenir.woff") format("woff");
}

@font-face {
	font-family: 'Colaborate-Medium';
	src: url("../fonts/Colaborate-Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'Colaborate-Medium';
	src: url("../fonts/Colaborate-Medium.woff") format("woff");
}

@font-face {
	font-family: 'Colaborate-Regular';
	src: url("../fonts/Colaborate-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Colaborate-Regular';
	src: url("../fonts/Colaborate-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Colaborate-Thin';
	src: url("../fonts/Colaborate-Thin.woff2") format("woff2");
}

@font-face {
	font-family: 'Colaborate-Thin';
	src: url("../fonts/Colaborate-Thin.woff") format("woff");
}

@font-face {
	font-family: 'Copse-Regular';
	src: url("../fonts/Copse-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Copse-Regular';
	src: url("../fonts/Copse.woff") format("woff");
}

@font-face {
	font-family: 'CrashCTT-Regular';
	src: url("../fonts/CrashCTT-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Dynalight-Regular';
	src: url("../fonts/Dynalight-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'Dynalight-Regular';
	src: url("../fonts/Dynalight-Regular.woff") format("woff");
}